.headingtertiary {
	font-size: 1.2rem;
	font-weight:700;
	text-transform:uppercase;
	color: gray;
}

.paragraph {
	font-size: 1.2rem;
	color: gray;
}

.paragraph:not(:last-child) {
		margin-bottom:3rem;
}

@media screen and (max-width: 960px) {

	.article {
		width: 30%;
		text-align: center;
	}
  
}

@media screen and (max-width: 598px) {

	.article{
		width: 60%;
	}
	  
	}
